# London House Data

**Commands that I used for this project**

* import pandas as pd -- To import Pandas library
* pd.read_csv - To import the CSV file in Jupyter notebook
* df.count() - It counts the no. of non-null values of each column.
* df.isnull().sum() - It detects the missing values from the dataframe.
* import seaborn as sns - To import the Seaborn library.
* import matplotlib.pyplot as plt - To import the Matplotlib library.
* sns.heatmap(df.isnull()) - It will show the all columns & missing values in them in heat map form.
* plt.show() - To show the plot.
* df.dtypes - To show the datatype of each column.
* pd.to_datetime(df.Date_Time_Col) - Converts the data-type of Date-Time Column into datetime[ns] datatype.
* df.Time_Col.dt.year - Creating a new column with only year values
* df.Time_Col.dt.month - Creating a new column with only month values.
* df.insert( index , ‘new_column_name’, new_column_values) - To insert a New column at a particular position with values in it.
* df.drop(['Col_name'] , axis=1 , inplace = True) - To drop a column from the dataframe permanently.
* df.groupby(‘Col_name’) - To form groups of all unique values of the column.
* df[df.Col_1 = = ‘Element1’] - Filtering – We are accessing all records with Element1 only of Col_1.
* df.groupby(‘Col_1’)[‘Col_2’] .mean( ) - To create groups - Two Keys – Apply on Col_2 grouped by Col_1.

## Objetives
**English**
1) Convert the Datatype of 'Date' column to Date-Time format.
2) Add a new column ''year'' in the dataframe, which contains years only.(B.2) Add a new column ''month'' as 2nd column in the dataframe, which contains month only.
3) Remove the columns 'year' and 'month' from the dataframe.
4) Show all the records where 'No. of Crimes' is 0. And, how many such records are there ?
5) What is the maximum & minimum 'average_price' per year in england ?
6) What is the Maximum & Minimum No. of Crimes recorded per area ?
7) Show the total count of records of each area, where average price is less than 100000.

**Spanish**
1) Convertir el tipo de datos de la columna "Fecha" al formato Fecha-Hora.
2) Añadir una nueva columna ''year'' en el dataframe, que contenga sólo años.(B.2) Añadir una nueva columna ''month'' como 2ª columna en el dataframe, que contenga sólo meses.
3) Elimine las columnas "año" y "mes" del marco de datos.
4) Muestra todos los registros en los que el "Número de delitos" es 0. ¿Y cuántos registros de este tipo hay?
5) ¿Cuál es el máximo y el mínimo del "precio medio" por año en Inglaterra?
6) ¿Cuál es el número máximo y mínimo de delitos registrados por zona?
7) Muestra el recuento total de registros de cada área, donde el precio medio es inferior a 100000.

In [3]:
# Importando bibliotecas y datos

import pandas as pd
df = pd.read_csv('A5LondonHousingData.csv')

In [4]:
df.head()

,date,area,average_price,code,houses_sold,no_of_crimes
0,1/1/1995,city of london,91449,E09000001,17.0,NaN
1,2/1/1995,city of london,82203,E09000001,7.0,NaN
2,3/1/1995,city of london,79121,E09000001,14.0,NaN
3,4/1/1995,city of london,77101,E09000001,7.0,NaN
4,5/1/1995,city of london,84409,E09000001,10.0,NaN

In [5]:
df.count()

date             13549
area             13549
average_price    13549
code             13549
houses_sold      13455
no_of_crimes      7439
dtype: int64

In [6]:
# Ver valores nulos
df.isnull().sum()

date                0
area                0
average_price       0
code                0
houses_sold        94
no_of_crimes     6110
dtype: int64

Question 1
* Convert the Datatype of 'Date' column to Date-Time format.
* Convertir el tipo de datos de la columna "Fecha" al formato Fecha-Hora.